crafting-dead-core/.classpath
crafting-dead-core/.project
crafting-dead-core/.gradle/
crafting-dead-core/bin/
crafting-dead-core/.settings/
crafting-dead-core/build/
crafting-dead-core/server/
crafting-dead-core/out/
crafting-dead-core/client/
crafting-dead-core/.idea/
crafting-dead-core/src/generated/

crafting-dead-immerse/.classpath
crafting-dead-immerse/.project
crafting-dead-immerse/.gradle/
crafting-dead-immerse/bin/
crafting-dead-immerse/.settings/
crafting-dead-immerse/build/
crafting-dead-immerse/server/
crafting-dead-immerse/client/
crafting-dead-immerse/.idea/

# Launch configurations from Eclipse
*.launch

/.classpath
/.project
/.gradle/
/bin/
/build/
/.settings/
/.idea/
