@import "craftingdeadimmerse:theme";

ConnectView {
    align-items: center;
    justify-content: center;
}

ConnectView > #dialog {
    width: 60%;
    height: 60%;
    align-items: center;
    justify-content: center;
    background-color: rgba(17, 17, 17, 0.25);
}

ConnectView > #dialog > #status, ConnectView > #dialog > #animation {
    width: 100%;
    height: 25;
    text-align: center;
}

ConnectView > #dialog > #cancel-button {
    width: 150;
    height: 20;
    margin-top: 50;
    background-color: rgba(255, 85, 85, 0.4);
    transition: background-color 150ms;
    text-align: center;
}

ConnectView > #dialog > #cancel-button:hover:enabled {
    background-color: rgba(170, 0, 0, 0.4);
}