@import url("craftingdeadimmerse:css/theme.css");

.dialog {
    width: 90%;
    height: 90%;
    align-items: center;
    background-color: rgba(54, 54, 54, 0.625);
    border-radius: 7.5;
}

GuildView {
    flex-direction: row;
}

GuildView > #content {
    flex-grow: 1;
}

GuildView > #content > * {
    flex-grow: 1;
}

GuildView > PanoramaView {
    position: absolute;
    width: 100%;
    height: 100%;
}

GuildView > #side-bar {
    width: 100;
    align-items: center;
    justify-content: center;
    background-color: rgba(54, 54, 54, 0.625);
}

GuildView > #side-bar > * {
    padding: 5;
    transition: 250ms color;
}

GuildView > #side-bar > *:hover {
    color: rgb(255, 255, 85);
}

ManageMembersView {
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

ManageMembersView > .dialog > #title {
    padding: 7;
}

ManageMembersView > .dialog > #list {
    flex-grow: 1;
    padding-bottom: 5;
    width: 100%;
    overflow: scroll;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    background-color: rgba(18, 18, 18, 0.25);
}

ManageMembersView > .dialog > #list > * {
    width: 110;
    height: 25;
    border-left-width: 1;
    padding: 3;
    margin: 5;
    flex-direction: row;
    align-items: center;
    background-color: rgba(51, 51, 51, 0.625);
}

ManageMembersView > .dialog > #list > * > AvatarView {
    width: 20;
    border-width: 1;
    margin-right: 3;
    aspect-ratio: 1;
}

ManageMembersView > .dialog > #controls {
    width: 100%;
    max-width: 250;
    height: 45;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

ManageMembersView > .dialog > #controls > * {
    margin: 3;
}

YourGuildView {
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

YourGuildView > .dialog > #title {
    padding: 7;
}

YourGuildView > .dialog > #guild {
    width: 100%;
    flex-grow: 1;
    flex-direction: row;
}

YourGuildView > .dialog > #guild > #information {
    height: 100%;
    width: 33%;
    border-right-width: 1;
    border-right-color: rgba(125, 125, 125, 0.48);
    background-color: rgba(18, 18, 18, 0.25);
}

YourGuildView > .dialog > #guild > #information > * {
    padding: 5;
}

YourGuildView > .dialog > #guild > #members {
    flex-grow: 1;
    height: 100%;
    padding-bottom: 5;
    overflow: scroll;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    background-color: rgba(18, 18, 18, 0.15);
}

YourGuildView > .dialog > #guild > #members > * {
    width: 110;
    height: 25;
    border-left-width: 1;
    padding: 3;
    margin: 5;
    flex-direction: row;
    align-items: center;
    background-color: rgba(51, 51, 51, 0.625);
}

YourGuildView > .dialog > #guild > #members > MemberView > AvatarView {
    width: 20;
    border-width: 1;
    margin-right: 3;
    aspect-ratio: 1;
}

InvitesView {
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

InvitesView > .dialog > #title {
    padding: 7;
}

InvitesView > .dialog > #list {
    flex-grow: 1;
    width: 100%;
    padding-bottom: 5;
    overflow: scroll;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    background-color: rgba(18, 18, 18, 0.25);
}

InvitesView > .dialog > #list > * {
    width: 300;
    height: 46;
    padding: 3;
    margin: 5;
    flex-direction: column;
    background-color: rgba(51, 51, 51, 0.625);
}

InvitesView > .dialog > #list > *:focus-visible {
    outline-color: white;
}

InvitesView > .dialog > #list > *:hover {
    outline-color: rgb(170, 170, 170);
    outline-width: 1;
}

InvitesView > .dialog > #list > * > #player-counts {
    flex-grow: 1;
    flex-direction: row;
}

InvitesView > .dialog > #controls {
    width: 200;
    height: 45;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

InvitesView > .dialog > #controls > * {
    margin: 3;
}

SendInviteView {
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

SendInviteView > #dialog {
    width: 250;
    height: 90;
    padding: 5;
    align-items: center;
    background-color: rgba(54, 54, 54, 0.625);
    border-radius: 7.5;
}


SendInviteView > #dialog > #title {
    padding: 7;
}

SendInviteView > #dialog > #username-field {
    width: 80%;
    height: 20;
    padding: 4;
    background-color: rgba(18, 18, 18, 0.25);
}

SendInviteView > #dialog > #controls {
    margin-top: 7;
    width: 80%;
    flex-direction: row;
    justify-content: space-between;
}

SendInviteView > #dialog > #controls > * {
    flex: 1;
}