@import url("craftingdeadimmerse:css/theme.css");

.page {
    width: 90%;
    height: 90%;
    align-items: center;
    background-color: rgba(54, 54, 54, 0.625);
    border-radius: 7.5;
}

.dialog {
    width: 250;
    height: 100;
    padding: 5;
    align-items: center;
    justify-content: center;
    background-color: rgba(54, 54, 54, 0.625);
    border-radius: 7.5;
}

.dialog > * {
    margin: 3.5;
}

.dialog > TextFieldView {
    width: 80%;
    height: 20;
    padding: 4;
    background-color: rgba(18, 18, 18, 0.25);
}

.dialog > #controls {
    width: 80%;
    height: 20;
    flex-direction: row;
    justify-content: space-around;
}

.dialog > #controls > * {
    flex-grow: 0;
    width: 45%;
}

GuildView {
    flex-direction: row;
}

GuildView > #content {
    flex-grow: 1;
    align-items: center;
    justify-content: center;
}

GuildView > PanoramaView {
    position: absolute;
    width: 100%;
    height: 100%;
}

GuildView > #side-bar {
    width: 100;
    align-items: center;
    justify-content: center;
    background-color: rgba(54, 54, 54, 0.625);
}

GuildView > #side-bar > * {
    padding: 5;
    transition: 250ms color;
}

GuildView > #side-bar > *:hover {
    color: rgb(255, 255, 85);
}

ManageMembersView > #title {
    padding: 7;
}

ManageMembersView > #list {
    flex-grow: 1;
    padding-bottom: 5;
    width: 100%;
    overflow: scroll;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    background-color: rgba(18, 18, 18, 0.25);
}

ManageMembersView > #controls {
    width: 100%;
    max-width: 250;
    height: 45;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

ManageMembersView > #controls > * {
    margin: 3;
}

YourGuildView > #title {
    padding: 7;
}

YourGuildView > #guild {
    width: 100%;
    flex-grow: 1;
    flex-direction: row;
}

YourGuildView > #guild > #information {
    height: 100%;
    width: 33%;
    border-right-width: 1;
    border-right-color: rgba(125, 125, 125, 0.48);
    background-color: rgba(18, 18, 18, 0.25);
}

YourGuildView > #guild > #information > TextView {
    padding: 5;
}

YourGuildView > #guild > #information > #controls {
    margin-top: auto;
    justify-content: flex-end;
    flex-grow: 1;
}

YourGuildView > #guild > #information > #controls > * {
    flex-grow: 0;
    width: 100%;
    border-top-width: 1;
    border-top-color: rgba(125, 125, 125, 0.48);
}

YourGuildView > #guild > #members {
    flex-grow: 1;
    height: 100%;
    padding-bottom: 5;
    overflow: scroll;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    background-color: rgba(18, 18, 18, 0.15);
}

MemberView {
    width: 110;
    height: 25;
    border-left-width: 1;
    padding: 3;
    margin: 5;
    flex-direction: row;
    align-items: center;
    background-color: rgba(51, 51, 51, 0.625);
}

MemberView > #text {
    width: 100%;
    height: 100%;
}

MemberView > AvatarView {
    height: 25;
    border-width: 1;
    margin-right: 3;
    aspect-ratio: 1;
}

InvitesView > #title {
    padding: 7;
}

InvitesView > #list {
    flex-grow: 1;
    width: 100%;
    padding-bottom: 5;
    overflow: scroll;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    background-color: rgba(18, 18, 18, 0.25);
}

InvitesView > #list > * {
    width: 300;
    height: 46;
    padding: 3;
    margin: 5;
    flex-direction: column;
    background-color: rgba(51, 51, 51, 0.625);
}

InvitesView > #list > *:focus-visible {
    outline-color: white;
}

InvitesView > #list > *:hover {
    outline-color: rgb(170, 170, 170);
    outline-width: 1;
}

InvitesView > #list > * > #player-counts {
    flex-grow: 1;
    flex-direction: row;
}

InvitesView > #controls {
    width: 200;
    height: 45;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

InvitesView > #controls > * {
    margin: 3;
}