@import "craftingdeadimmerse:theme";

#home {
    margin: 5px;
    width: 20px;
    aspect-ratio: 1;
}

#home:hover {
    color: #666666;
}

#play {
    margin: 5px;
    width: 18px;
    aspect-ratio: 1;
}

#settings {
    margin: 5px;
    width: 12px;
    aspect-ratio: 1;
}

#quit {
    margin: 5px;
    width: 12px;
    aspect-ratio: 1;
}

#quit-container {
    margin-top: auto;
}

MainMenuView {
    flex-direction: row;
}

#content {
    width: 100%;
    height: 100%;
    margin-left: 32px;
    margin-right: 32px;
}

#content>* {
    width: 100%;
    height: 100%;
    position: absolute;
}

.side-bar {
    height: 100%;
    align-items: center;
    background-color: rgba(119, 119, 119, 0.35);
}

#profile-bar {
    width: 120px;
    position: absolute;
    right: 0px;
    transition: -bliss-x-translation 250ms;
    -bliss-x-translation: 88;
}

#profile-bar:hover {
    -bliss-x-translation: 0;
}

#profile {
    flex-direction: row;
    width: 100%;
    height: 32px;
    padding: 3px;
}

.shadow {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.29);
}

#avatar {
    width: 26px;
    aspect-ratio: 1;
    margin-right: 3px;
    box-sizing: border-box;
}

.profile-name {
    font-family: 'Stratum2 Medium';
}

#rank {
    flex-direction: row;
    padding: 8px;
    width: 100%;
    height: 32px;
}

#rank-icon {
    image-rendering: crisp-edges;
    aspect-ratio: 1;
    width: 16px;
    margin-right: 8px;
}

#profile-bar TextView {
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 1);
}

#profile-bar>#profile #name {
    font-size: 9;
}

#profile-bar>#profile>#profile-text {
    flex-grow: 1;
}

#menu-bar {
    width: 32px;
    position: absolute;
    border-right-width: 1px;
    border-right-color: rgba(181, 181, 181, 0.5);
}

#entity-container {
    width: 25%;
    height: 50%;
    top: 30%;
    right: 10%;
    position: absolute;
    align-items: center;
    justify-content: center;
}

#entity-container>EntityView {
    aspect-ratio: 1;
    width: 100%;
    height: 100%;
}

ConnectView {
    align-items: center;
    justify-content: center;
}

HomeView {
    justify-content: space-around;
    z-index: -2;
}

#news {
    width: 45%;
    height: 75%;
    padding: 10px;
    margin-left: 10%;
    overflow: scroll;
    background-color: rgba(119, 119, 119, 0.35);
}

/* Don't shrink the text so it can scroll */
HomeView>#news>TextView {
    flex-shrink: 0;
}

PlayView {
    background-color: rgba(119, 119, 119, 0.35);
}

PlayView>#play-content {
    flex-grow: 1;
}

PlayView>#play-content>* {
    flex-grow: 1;
}

PlayView>#play-content>#official>TabsView {
    height: 20px;
}

PlayView>#play-content>#official>#official-content {
    flex-grow: 1;
}

PlayView>#title {
    height: 30px;
    padding-top: 6px;
    padding-bottom: 6px;
    margin-left: 10px;
    font-size: 14;
    font-family: 'Stratum2 Regular';
}

PlayView>DropdownView {
    width: 100px;
    height: 21px;
    margin: 2px;
    margin-left: 10px;
}

ServerListView,
MutableServerListView,
WorldListView {
    flex-grow: 1;
    background-color: rgba(0, 0, 0, 0.25);
}

/* Button section */
.list-controls {
    height: 56px;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    background-color: rgba(18, 18, 18, 0.25);
}

/* Button rows */
.list-controls>* {
    width: 220px;
    flex-direction: row;
    align-items: center;
}

/* Buttons */
.list-controls>ParentView>* {
    margin: 3px;
    flex-basis: 0;
}

.list-content {
    flex-grow: 1;
    box-sizing: border-box;
    padding-top: 7px;
    padding-bottom: 7px;
    overflow: scroll;
    align-items: center;
}

ServerItemView {
    width: 90%;
    margin-top: 3px;
    margin-left: 7px;
    margin-right: 7px;
    padding-left: 10px;
    padding-right: 20px;
    height: 22px;
    max-width: 520px;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    flex-shrink: 0;
    box-sizing: border-box;
}

ServerItemView>TextView {
    text-align: center;
}

ServerItemView>#motd {
    flex-grow: 1;
}

ServerItemView>#ping,
ServerItemView>#players {
    flex-basis: 60px;
    margin-left: 10px;
}

ServerItemView>#map {
    flex-basis: 90px;
}

MutableServerListView>.list-controls>* {
    width: 300px;
}

WorldItemView {
    width: 300px;
    height: 46px;
    margin-top: 6px;
    padding: 4px;
    flex-direction: row;
    flex-shrink: 0;
    box-sizing: border-box;
}

WorldItemView>#icon {
    height: 38px;
    width: 38px;
    margin-right: 5px;
}

WorldItemView>#texts {
    width: 120px;
    flex-grow: 1;
    padding-bottom: 1px;
    justify-content: center;
}

WorldItemView>#texts>#details {
    margin-top: 2px;
}