*:focus-visible {
    outline-width: 3;
    outline-color: rgb(170, 220, 240);
}

TabsView {
    flex-direction: row;
    flex-wrap: wrap;
}

TabsView>* {
    width: 60;
    height: 100%;
    justify-content: center;
}

TabsView>*>TextView {
    text-align: center;
}

FogView {
    position: absolute;
    width: 100%;
    height: 100%;
}